$shadow-text-height: 287px;
$heading-text-height: 58px;
$left-side-margin: 60px;

#about {
  font-family: $font-stack;
  width: auto;
}

#aboutContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1200px;

  p {
    color: #333;
    line-height: 22px;
    font-weight: 300;
    font-size: 20px;
  }

  h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  #leftAbout {
    margin-right: 92px;
    flex: 3;
    margin-top: calc(
      -1 * ($shadow-text-height / 2 - $heading-text-height/ 2 -
            $left-side-margin)
    );

    ul {
      list-style: none;

      li {
        font-weight: 300;
        font-size: 20px;
      }
    }
  }

  #leftAbout h3:first-of-type {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  #rightAbout {
    margin-top: -60px;
    flex: 2;
  }
}

#imgContainerAbout {
  max-height: 513px;
  width: 100%;
  height: 100%;
  margin-top: -60px;
  position: relative;

  .building-company-img {
    max-width: 442px;
    max-height: 417px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 100;
  }

  .building-company-img.rect-img {
    background-color: $accent-color;
    width: 442px;
    height: 417px;
    position: absolute;
    top: 33px;
    left: 42px;
    z-index: 50;
  }
  .building-company-img.dot-img {
    max-width: 450px;
    max-height: 513px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 79px;
    z-index: 1;
  }
}
