.section-wrapper.advantages-section-wrapper {
  padding-left: 0;
  padding-right: 130px;
}

.advantages-section {
  max-width: 1460px;
  width: 100%;
  float: left;
}

#advantagesOfNeighborhoodSection {
  background-color: #f9f4f4;
  width: 1114px;
  height: 1282px;
  padding-left: 270px;
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;

  h1 {
    font-size: 48px;
    font-weight: 700;
    color: (--black-font-color);
  }
}

.grid-container {
  margin-top: 40px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 66px 66px 546px 66px 66px;
  gap: 49px 59px;
  grid-template-areas:
    "icon1 icon2"
    "icon3 icon4"
    "img img"
    "icon5 icon6"
    "icon7 icon7";

  p {
    color: $black-font-color;
    font-size: 20px;
    font-weight: 300;
    margin-left: 15px;
    position: relative;
  }

  .card-container {
    display: flex;
    flex-direction: row;
  }

  .icon-wrapper {
    height: 56px;
    width: 56px;
  }

  .icon1 {
    grid-area: icon1;
  }
  .icon2 {
    grid-area: icon2;
  }
  .icon3 {
    grid-area: icon3;
  }
  .icon4 {
    grid-area: icon4;
  }

  .img {
    grid-area: img;
  }

  .neighborhood-img {
    width: 900px;
    height: 546px;
    object-fit: cover;
  }
  .icon5 {
    grid-area: icon5;
  }
  .icon6 {
    grid-area: icon6;
  }

  .icon7 {
    grid-area: icon7;
  }
}
