#footer {
  padding-top: 100px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer .page-links {
  display: flex;

  li {
    margin-right: 60px;
    list-style: none;

    a {
      font-weight: 300;
      font-size: 20px;
    }

    a:active, /* активная/посещенная ссылка */
    a:hover,  /* при наведении */
    a {
      text-decoration: none;
      color: $black-font-color;
    }
  }

  li:last-child {
    margin-right: 0;
  }
}

.website-author {
  font-weight: 300;
  font-size: 20px;
  margin-top: 22px;
  margin-bottom: 28px;
}

.website-author:active,
.website-author:hover,
.website-author {
  color: $accent-color;
}
