

.intro-section-wrapper {
  background: url("/images/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#introductionSection {
  font-family: $font-stack;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 1;
}

#mainHeader {
  width: 100%;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  height: 137px;
}

#headerImage {
  overflow: hidden;
}

#headerImage img {
  height: 100%;
  width: auto;
}

#headerInfo {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.headerContact {
  color: $intro-text-color;
  font-size: 20px;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-whatsapp {
  font-size: 26px;
  margin-right: 55px;
}

.border {
  border: 1px solid $intro-secondary-color;
  padding: 5px 10px;
}

#headerLinks {
  margin-top: 21px;
  display: flex;
  flex-direction: row;
  color: $intro-text-color;
  font-size: 16px;
}

#headerLinks li {
  margin-left: 50px;
  list-style-type: none;
}

#headerLinks li.selected {
  border-bottom: 4px solid $intro-secondary-color;
}

#headerLinks li a {
  cursor: pointer;
  text-decoration: dashed;
  color: $intro-text-color;
}

#mainIntroduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  padding-top: 252px;
  color: $intro-text-color;
}

#mainIntroduction h1 {
  font-size: 38px;
  font-weight: 700;
}

#mainIntroduction #downloadPresentationBtn {
  background-color: $intro-secondary-color;
  color: #333;
  padding: 20px 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#mainIntroduction #downloadPresentationBtn:active {
  transform: scale(0.98);
}

#mainIntroduction h2 {
  font-size: 32px;
  margin-top: 20px;
}

#mainIntroduction #amountOfBuildings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#mainIntroduction #amountOfBuildings p {
  font-size: 20px;
  width: 250px;
}

#mainIntroduction #amountOfBuildings h1 {
  font-size: 128px;
  padding-right: 20px;
}

#mainIntroduction #rightIntro {
  margin-top: 15px;
}

#mainIntroduction #rightIntro p {
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 1366px) {
  #mainHeader {
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #headerInfo {
    margin-top: 15px;
  }

  .headerContact {
    font-size: 18px;
  }

  #headerLinks li {
    margin-left: 20px;
  }

  #mainIntroduction {
    padding-left: 50px;
    padding-right: 50px;
  }

  #mainIntroduction #downloadPresentationBtn {
    padding: 15px 20px;
  }

  #mainIntroduction #amountOfBuildings h1 {
    font-size: 96px;
    padding-right: 10px;
  }

  #mainIntroduction #amountOfBuildings p {
    margin-left: 10px;
    font-size: 18px;
  }

  #mainIntroduction #rightIntro p {
    margin-left: 20px;
  }
}

@media (max-width: 1050px) {
  #mainIntroduction {
    flex-direction: column;
    justify-content: flex-start;
  }

  #mainIntroduction #rightIntro {
    margin-top: 50px;
  }
}
